body{
    background-size: cover;
}
.heading{
    width: 100%;
    text-align: left;
}
.heading button{
    float:right;
    border:3px solid white;
    color:white;
}
.heading h3{
    display:inline;
}
#start,#restart,#game_status{
    font-size: 22px;
}
.footer_div{
    position: fixed;
    width: 100%;
    line-height: 3;
    bottom: 0;
    background-color:white;
    color:black;
    text-align: center;
}
